/* Import Bulma Utilities */
@use 'bulma/sass/utilities/initial-variables' as *;
@use 'bulma/sass/utilities/functions' as *;
@use 'bulma/sass/utilities/mixins' as *;

// Update Bulma's global variables
$family-sans-serif: 'Outfit', sans-serif;
$primary: black;
$secondary: #10E80C;
$info: #0066FF;
$success: #04DE00;
$warning: #FFB800;
$custom-colors: (
  'secondary': $secondary,
);
$text: #000;
$text-light: #999999;
$text-dark: #666666;
$body-size: 14px !default;
$body-background-color: #fff;

$link: $secondary;

$title-family: 'Space Grotesk', sans-serif;
$subtitle-family: 'Space Grotesk', sans-serif;


$size-1:	2.125rem;
$size-2:	1.875rem;
$size-3:	1.375rem;
$size-4:	1.25rem;
$size-5:	1.125rem;
$size-6:	1rem;
$size-7:	0.75rem;
