$family-primary: '"Outfit", sans-serif';
$primary: black;
$secondary: #10E80C;
$info: #0066FF;
$success: #04DE00;
$warning: #FFB800;
$link: $secondary;
$grey-dark: #666666;
$grey-light: #999999;
$body-background-color: hsl(221, 14%, 98%);
$control-border-width: 2px;
$input-shadow: none;
$text: #333;
$custom-colors: (
  'secondary': $secondary,
);
$title-family: 'Space Grotesk', sans-serif;
$subtitle-family: 'Space Grotesk', sans-serif;
$body-background-color: #f5f5f5;
$body-background-color-dark: #181818;
$box-background-color: #fff;

@use "bulma/sass" with (
  $family-primary: $family-primary,
  $grey-dark: $grey-dark,
  $grey-light: $grey-light,
  $primary: $primary,
  $link: $link,
  $info: $info,
  $success: $success,
  $warning: $warning,
  $control-border-width: $control-border-width,
  $input-shadow: $input-shadow,
  $custom-colors: $custom-colors,
  $title-family: $title-family,
  $subtitle-family: $subtitle-family,
  $body-background-color: $body-background-color,
  $box-background-color: $box-background-color,
  $title-color: $primary,
  $subtitle-color: $primary,
  $text: $text,
  $box-color: $text,
);
